<li class='individual-user'>
  <% if user.photo.present? %>
    <span class='user-image'><%= image_tag user.photo %></span>
  <% else %>
    <span class='user-image'><%= image_tag 'https://rb.gy/h3s8k' %></span>
  <% end %>
  <span class='user-name'><%= link_to user.name, user %></span>
  <span class='particulars'>Number of posts: <%= user.posts_counter %></span>
</li>
