<li class='individual-user'>
  <span class='user-image'><%= link_to(image_tag(user.photo), user_path(user)) %></span>
  <span class='user-name'><%= link_to user.name, user %></span>
  <span class='particulars'>Number of posts: <%= user.posts_counter %></span>
</li>
