/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.actions {
  width: 100%;
}

.actions input[type="submit"] {
  width: 100%;
  font-size: 18px;
  padding: 12px 20px;
}

.field-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  width: 100%;
  margin-bottom: 10px;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"] {
  width: 97%;
  font-size: 16px;
  padding: 10px 15px;
}

.actionss{
 width: 16%;
 background: red;
 margin-left: -7%;
}

.actionss input[type="submit"] {
  width: 160%;
  font-size: 18px;
  padding: 12px 20px;
}
